parameters:
    paths:
        - src
    level: 0
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - phar://../../virions/Commando.phar/src
        - phar://../../virions/libasynql.phar/src